<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User page</title>
</head>
<body>
<h1> Profile: <%= info.name %> </h1>
<ul>
    <li> <b>Name:</b> <%= info.name %>  </li>
    <li> <b>Brand:</b> <%= info.brand %> </li>
    <li> <b>Country:</b> <%= info.country %> </li>
</ul>
</body>
</html>