<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bike page</title>
</head>
<body>
<h1>SuperBike - Local JS File</h1>
<h3>Random Advice Test :  <%= info %></h3>
<h4>↑↑↑↑↑↑ Refresh the page to see new advice ↑↑↑↑↑↑↑ </h4>
<br/>
<ul>
    <% for (var i = 0; i < bike.length; i++) { %>
        <li><a href="/bike/<%= bike[i].name %>"><%= bike[i].name %></a></li>
    <% } %>
</ul>

<a class="text-warning" href="/">Back to Home Page</a>


</body>
</html>